{
  "extends": "loopback",
  "rules": {
    "quotes": "off",
    "camelcase": "off",
    "strict": "off",
    "comma-dangle": "off",
    "object-curly-spacing": "off"
  },
  "parserOptions": {
    "ecmaVersion": 2017
  }
}
